<div class="row">
  <div class="col-md-12">
    <div class="custom-slider-wrapre"></div>
  </div>
</div>

<p>Welcome ShowIMG</p>

 <% if user_signed_in? %>
      <%= link_to 'edit' , edit_user_registration_path %> 
  

    
  <% else %>
  	<p>you are not logged in please login here </p>
  	<%= link_to 'login', user_session_path %>

  	<span> or sign up here </span> 

  	<%= link_to 'sign up', new_user_registration_path %>
 <% end %>

